---
// import EmailSignup from './Subscribe/EmailSignup.astro'
import dayjs from 'dayjs'

export interface Props {
  title: String;
  author: String;
  major: String;
  date: String;
  image: String;
  youtube: String;
  published_on: String;
}

const { title, date, image, youtube, author, major, published_on } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl text-center content">
    <h1 class="mb-12">{title}</h1>

    <p class="font-bold mb-0">By <span class="not-italic text-lg pl-0.5">{author}</span></p>
    <p class="text-sm mb-12 font-light">{major}</p>
  </header>

  <!-- Image -->
  {image && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={image} alt={title} />}

  <!-- YouTube Video -->
  {youtube && <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
    <iframe width="700" height="500" class="embed-responsive-item"
      src={`https://www.youtube.com/embed/${youtube}`} frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>}

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
  </section>

  <!-- <EmailSignup /> -->
  <div class="max-w-3xl mx-auto px-4 lg:px-0">
    <p class="text-sm pb-6 lg:pb-12"><span class="font-bold">Published on:</span> {dayjs(published_on).format('ddd, DD MMM YYYY')}</p>
  </div>

</article>
